@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

/*loaders*/
.loader {
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  visibility: hidden;
  animation: fade 1s;
}
.loader .loader-quart {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #9356dc;
  border-top: 10px solid #ff79da;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spin 1s linear infinite;
}

/*header*/
header {
  display: flex;
  box-shadow: 0px 3px 1px lightgrey;
  position: relative;
}
header .logo {
  margin: auto;
  margin-top: 7px;
  width: 53%;
  padding: 10px;
}
@media screen and (min-width: 800px) {
  header .logo {
    width: 18%;
    padding: 24px;
  }
}

/*ville*/
.city {
  display: flex;
  background-color: #f1eeee;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
  padding: 4px;
  font-size: 8px;
}
.city .map {
  font-size: 17px;
}

/*explorer*/
.Explorer {
  text-align: center;
  margin: auto;
  padding: 10px 5px 35px 5px;
  background-color: #fafafa;
}
.Explorer .btn {
  color: white;
  background-image: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  border: none;
  padding: 16px 32px;
  border-radius: 32px;
  box-shadow: 2px 5px 13px -4px #000000;
}

/*fonctionnement*/
.working {
  display: flex;
  justify-content: center;
}
.working .container {
  width: 95%;
  max-width: 1200px;
  padding: 0;
}

@media screen and (min-width: 800px) {
  .working__steps {
    display: flex;
    flex-direction: row;
  }
}
.working__step {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  height: 60px;
  width: 88%;
  margin: 20px 25px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 800px) {
  .working__step {
    margin: 20px 70px;
  }
}
.working__step .working_number {
  background-color: #9356dc;
  color: white;
  padding: 3px 8px 3px 8px;
  border-radius: 50%;
  position: absolute;
  left: -10px;
}
.working__step .working__icon {
  color: #7e7e7e;
  margin: 0 20px;
}

/*restaurants*/
.restaurant {
  background-color: #f6f6f6;
  padding: 0 10px;
}
.restaurant a {
  text-decoration: none;
  color: inherit;
}
.restaurant h3 {
  padding: 13px 0px 0px 23px;
}
@media screen and (min-width: 800px) {
  .restaurant h3 {
    padding: 19px 9px;
    margin-left: 336px;
  }
}
.restaurant .restaurant-block {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  height: 1200px;
  width: 95%;
  padding-left: 20px;
  padding-bottom: 30px;
}
@media screen and (min-width: 800px) {
  .restaurant .restaurant-block {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 650px;
    width: 54%;
    margin-left: 312px;
  }
}
.restaurant .restaurant-block .new {
  position: relative;
}
.restaurant .restaurant-block .new::before {
  content: "Nouveau";
  position: absolute;
  height: 34px;
  width: 27%;
  background-color: #99e2d0;
  color: #1b6150;
  display: grid;
  place-items: center;
  top: 15px;
  right: 15px;
}
.restaurant .restaurant-card {
  height: 270px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
}
.restaurant .card-image {
  width: 100%;
  height: 190px;
}
.restaurant .card-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}
.restaurant .card-description {
  position: relative;
}
.restaurant .card-description h4,
.restaurant .card-description p {
  padding-top: 2px;
  margin: 8px;
}
.restaurant .card-description i {
  font-size: 28px;
  position: absolute;
  right: 30px;
  top: 15px;
}
.restaurant .card-description .fas {
  color: transparent;
  background-image: linear-gradient(180deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  background-clip: text;
  opacity: 0;
}
.restaurant .card-description .fas:hover {
  opacity: 1;
}

/*FOOTER*/
footer {
  background: #353535;
  padding: 5px 10px;
}
@media screen and (min-width: 800px) {
  footer {
    padding-top: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 1px 80px;
  }
}
footer h5 {
  font-family: "shrikhand", sans-serif;
  color: white;
  font-weight: 500;
  padding: 5px 0;
}
footer p {
  padding: 4px;
  color: white;
}
footer i {
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
