@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gradient : linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

body{
    margin: 0px;
    padding: 0px;
}

/*header*/
header{
    display: flex;
    box-shadow: 0px 3px 1px lightgrey;
    position: relative;

    .logo{
        margin: auto;
        margin-top: 7px;
        width: 53%;
        padding: 10px; 
        @media screen and (min-width: 800px){
            width: 18%;
            padding: 24px; 
        }
    } 
}

/*ville*/
.city{
    display: flex;
    background-color: #f1eeee;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    padding: 4px;
    font-size: 8px;
    .map{
        font-size: 17px;
    }
}

/*explorer*/
.Explorer{
    text-align: center;
    margin: auto;
    padding: 10px 5px 35px 5px;
    background-color: #fafafa;
    .btn{
        color: white;
        background-image: ($gradient);
        border: none;
        padding: 16px 32px;
        border-radius: 32px;
        box-shadow: 2px 5px 13px -4px #000000;
    }
}

/*fonctionnement*/
.working{
    display: flex;
    justify-content: center;
   
    .container{
        width: 95%;
        max-width: 1200px;
        padding: 0;
    }
}
@media screen and (min-width: 800px){
    .working__steps{
    display: flex;
    flex-direction: row;
    }
}

.working__step{
    display: flex;
    align-items: center;
    background: #f6f6f6;
    height: 60px;
    width: 88%;
    margin: 20px 25px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
    @media screen and (min-width: 800px){
        margin: 20px 70px;
    }
    .working_number{
        background-color: $color-primary;
        color: white;
        padding: 3px 8px 3px 8px;
        border-radius: 50%;
        position: absolute;
        left: -10px;
    }

    .working__icon{
        color: #7E7E7E;
        margin: 0 20px;
    }
}