@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto' sans-serif;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gradient : linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto' sans-serif;
}
/*header*/
header{
    display: flex;
    box-shadow: 0px 3px 1px lightgrey;
    position: relative;

    .logo{
        margin: auto;
        margin-top: 7px;
        width: 53%;
        padding: 10px; 
    }
}

/*ville*/
.city{
    display: flex;
    background-color: #f1eeee;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px;
    font-size: 50%;
    font-family: 'Roboto' sans-serif;
}
.map{
    font-size: 17px;
}
/*Explorer*/
.Explorer{
    text-align: center;
    margin: auto;
    padding: 10px 5px 35px 5px;
    background: #fafafa;
}

.btn{
    color: white;
    background-image:($gradient);
    border: none;
    padding: 16px 32px;
    border-radius: 32px;
    box-shadow: 2px 5px 13px -4px #000000;
}

.working{
    display: flex;
    justify-content: center;
   
    .container{
        width: 95%;
        max-width: 1200px;
        padding: 0;
    }
    .working_title{
        margin: 0;
    }
}

.working__step{
    display: flex;
    align-items: center;
    background: #f6f6f6;
    height: 60px;
    width: 80%;
    margin: 20px 25px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);

    .working_number{
        background-color: $color-primary;
        color: white;
        padding: 3px 8px 3px 8px;
        border-radius: 50%;
        position: absolute;
        left: -10px;
    }

    .working__icon{
        color: #7E7E7E;
        margin: 0 20px;
    }
}
/*restaurants*/
.restaurant{
    margin: 0;
    background: #f6f6f6;
    padding: 20px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.restaurant-title{
    font-family: 'Roboto', sans-serif;
}

.restaurant-cards{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
}


a{
    text-decoration: none;
    color: white;
}

.resto_card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.resto_card-image{
    width: 100%;
    height: 190px;
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
}

.restaurant-block{
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    border-radius: 0 0 20px 20px;

    .restaurant-block-info{
        color: black;
        margin-left: 20px;
    }

    .restaurant-block-name{
        font-weight: 700;
    }
}


/*footer*/ 
footer{
    background: #353535;
    padding: 5px 10px;

    h4{
        font-family: 'Shrikhand', sans-serif; 
        color: white;
        font-weight: 500;
        padding: 5px 0;
    }
    p{
        padding: 4px;
        color: white;
    }
    i{
        color: white;
    }

}

 



