@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* {
    box-sizing: border-box;
    font-family: 'roboto' sans-serif;
}


$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gradient : linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

body{
    margin: 0px;
    padding: 0px;
}
/*loaders*/
.loader{
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    visibility: hidden;
    animation: fade 2s;
    .loader-quart{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 10px solid #9356DC;
        border-top: 10px solid #FF79DA;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: spin 2s linear infinite ;
    }
    }

@keyframes spin{
    0%{transform: rotate(0deg); }
    50%{transform: rotate(180);}
    100%{transform: rotate(360deg);}
}

@keyframes fade{
    0%{visibility: visible;}
    100%{visibility:hidden;}
}

/*header*/
header{
    display: flex;
    position: relative;
    padding-bottom: 80px;

    .logo{
        margin: auto;
        margin-top: 7px;
        width: 53%;
        padding: 10px;
        @media screen and (min-width: 800px){
            width: 18%;
            padding: 24px; 
        }
    }
}

.img{
    width: 100%;
    height: 50vh;

    .img_image{
        margin-top: -80px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
 


.menus{
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    margin-top: -200px;
    padding: 0 20px;
    width: 100%;
    max-width: 1230px;
    border-radius: 30px 30px 0 0;
    background-color: #f6f6f6;

    .menu-header{
        flex-direction: row;
    }
}


.menu-header-title{
    font-family: 'shrikhand';

}

.grid{
    display: grid;
    gap: 10px;
    @media screen and (min-width: 800px){
       /* grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;*/
        grid-auto-columns: 20px;
    }
}

.grid-title{
    h3{
        padding: 0;
        margin: 5px;
        text-transform: uppercase;
        font-weight: 400;
    }
   
}
.menu-grid-bloc{
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
    }

.menu-case-dish{
    margin-left: 15px;
}
.dish-and-price{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .price{
        font-weight: bold;
        padding-right: 10px;
    }
    .dish-and-price-title{
        margin-top: -10px;
    }
    .dish-and-price-subtitle{
        margin-top: -20px;
        margin-bottom: -8px;
    }
}
/*bouton commander*/
.command{
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    .btn{
        color: white;
        background-image: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
        border: none;
        padding: 16px 32px;
        border-radius: 32px;
        box-shadow: 2px 5px 13px -4px #000000;
    }
}

/*footer*/
footer{
    background: #353535;
    padding: 5px 10px;
    @media screen and (min-width: 800px){
    padding-top: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 1px 80px;
    }

    h4{
        font-family: 'shrikhand', sans-serif; 
        color: white;
        font-weight: 500;
        padding: 5px 0;
    }
    p{
        padding: 4px;
        color: white;
    }
    i{
        color: white;
    }
    a{
        text-decoration: none;
        color: white;
    }
}