@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

* {
    box-sizing: border-box;
}


$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gradient : linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto' sans-serif;
}
/*header*/
header{
    display: flex;
    position: relative;
    padding-bottom: 80px;

    .logo{
        margin: auto;
        margin-top: 7px;
        width: 53%;
        padding: 10px; 
    }
}

.img{
    width: 100%;
    height: 50vh;

    .img_image{
        margin-top: -80px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
 


.menus{
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    margin-top: -200px;
    padding: 0 20px;
    width: 100%;
    max-width: 1230px;
    border-radius: 30px 30px 0 0;
    background-color: #f6f6f6;

    .menu-header{
        flex-direction: row;
    }
}


.menu-header-title{
    font-family: 'shrikhand';

}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);

    .menu-grid-title{
        h1{
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}
.menu-grid-case{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15%;
    width: 100%;
    height: 70px;
    .dish-and-price{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .dish-and-price-case{
        white-space: nowrap;
        margin-left: 10px;
    }
}

.dish-and-price-title{
    font-weight: bold;
}

.price{
    font-weight: bold;
    padding-left: 90px;
}