* {
    box-sizing: border-box;
}


$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gradient : linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto' sans-serif;
}
/*header*/
header{
    display: flex;
    box-shadow: 0px 3px 1px lightgrey;
    position: relative;

    .logo{
        margin: auto;
        margin-top: 7px;
        width: 53%;
        padding: 10px; 
    }
}

.img{
    width: 100%;
    height: 25px;
}

.menus{
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    margin-top: -200px;
    padding: 0 20px;
    width: 100%;
    max-width: 1230px;
    border-radius: 30px 30px 0 0;
    background-color: #f6f6f6;

    .menu-header{
        flex-direction: row;
    }
}


.menu-header-title{
    font-family: 'shrikhand', cursive;

}





/*footer
footer{
    background: #353535;
    padding-top: 5px;
    padding-bottom: 10px;

    h5{
        font-family: 'Shrikhand' sans-serif;
        color: white;
    }
    .list{
        list-style: none;
        color: white;
    }
}*/