@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* {
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}


$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gradient : linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
$gradientheart: linear-gradient(180deg, rgba(147,86,220,1) 0%,  rgba(255,121,218,1) 100%);

@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}


@keyframes fade{
    0%{visibility: visible;}
    100%{visibility:hidden;}
}

@keyframes appear{
    0%{
        transform: translateY(50%);
        opacity: 0;
}
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

body{
    margin: 0px;
    padding: 0px;
}
/*loaders*/
.loader{
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    visibility: hidden;
    animation: fade 1s;
    .loader-quart{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 10px solid #9356DC;
        border-top: 10px solid #FF79DA;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: spin 1s linear infinite ;
    }
    }

/*header*/
header{
    display: flex;
    position: relative;
    padding-bottom: 80px;

    .logo{
        margin: auto;
        margin-top: 7px;
        width: 53%;
        padding: 10px;
        @media screen and (min-width: 800px){
            width: 18%;
            padding: 24px; 
        }
    }
    .arrow-back{
        position: absolute;
        left: 30px;
        top: 22px;
        font-size: 20px;

        a{
            color: black;
        }
        @media screen and (min-width: 800px){
        left: 50px;
        top: 30px;
        font-size: 30px;
      }
    }
}

.img{
    width: 100%;
    height: 50vh;

    .img_image{
        margin-top: -80px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.menus{
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    margin-top: -200px;
    padding: 0 20px;
    width: 100%;
    max-width: 1230px;
    border-radius: 30px 30px 0 0;
    background-color: #f6f6f6;

    .menu-header{
        flex-direction: row;
        i{
            font-size: 28px;
            position: absolute;
            right: 30px;
            top: 362px;
            @media screen and (min-width: 800px){
                top: 50%;
                left: 88%
            }
        }
        .fas{
            color: transparent;
            background-image: $gradientheart;
            background-clip: text;
            -webkit-background-clip: text;
            opacity: 0;
            cursor: pointer;
            &:hover{
                opacity: 1;
            }
        } 
    }
}

.menu-header-title{
    font-family: 'shrikhand';
}

.grid-bloc{
    display: grid;
    grid-gap: 10px;
    @media screen and (min-width: 800px){
        grid-gap: 30px;
    }
}
   
.grid{
    display: grid;
    gap: 10px;
    @media screen and (min-width: 800px){
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: column;
        grid-gap: 30px;
    }
}

.grid-title{
    h3{
        padding: 0;
        margin: 5px;
        text-transform: uppercase;
        font-weight: 400;
        @media screen and (min-width: 800px){
            margin: 16px 0px;
        }
    }
    :after{
        content: '';
        background-color: $color-tertiary;
        width: 11%;
        height: 4px;
        position: absolute;
        left: 26px;
        display: flex;
        @media screen and (min-width: 800px){
            position: unset;
            width: 14%;
        }
    }
   
}
.menu-grid-bloc{
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    animation: appear 1s;
    animation-fill-mode: both;
    overflow: hidden;
    @for $i from 2 through 4 {
        &:nth-child(#{$i}){
            animation-delay: 100ms * $i
        }
    }
    @media screen and (min-width: 800px){
        margin-top: -13px;
    }
    .menu-check-confirmation{
        background-color: $color-tertiary;
        margin: -16px -70px -16px 4px;
        width: 15%;
        height: 100%;
        display: flex;
        align-items: center;
        align-content: center; 
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transition-duration: 0.5s;
        @media screen and (min-width: 800px){
            margin: -16px -77px -16px 4px;
            width: 20%;
        }
        .menu-item{
            background-color: white;
            height: 33px;
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            margin-left: 10px;
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transition-duration: 0.5s;
            -webkit-animation: rotate 0.5s;
            @media screen and (min-width: 800px){
                height: 34px;
                width: 54%;
                margin-left: 16px;
            }
        }
        .menu-item-icon{
            color: $color-tertiary;
        }

}
&:hover .menu-check-confirmation{
    margin-right: -1px;
}

&:hover .menu-item{
    transform: rotate(0);
  }
}

.menu-case-dish{
    margin-left: 15px;
}

.dish-and-price{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .price{
        font-weight: bold;
        padding-right: 10px;
    }
    .dish-and-price-title{
        margin-top: -10px;
    }
    .dish-and-price-subtitle{
        margin-top: -20px;
        margin-bottom: -8px;
    }
}


/*bouton commander*/
.command{
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    @media screen and (min-width: 800px){
       margin: 0 105px;
    }
    .btn{
        color: white;
        background-image: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
        border: none;
        padding: 16px 32px;
        border-radius: 32px;
        box-shadow: 2px 5px 13px -4px #000000;
        cursor: pointer;
    }
}
/*footer*/
footer{
    background: #353535;
    padding: 5px 10px;
    @media screen and (min-width: 800px){
    padding-top: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 1px 80px;
    }

    h4{
        font-family: 'shrikhand', sans-serif; 
        color: white;
        font-weight: 500;
        padding: 5px 0;
    }
    p{
        padding: 4px;
        color: white;
    }
    i{
        color: white;
    }
    a{
        text-decoration: none;
        color: white;
    }
}